{% extends "base.html" %}

{% block content %}

    <style>
        .icons {
            width: auto;
            padding: 10px 10px 10px 10px;
        }

        .icons i {
            font-size: 20px;
            cursor: pointer;
            margin: 5px 5px 5px 5px
        }

        .icons a {
            color: black;
        }

        .actions a {
            color: black !important;
        }

        .actions a .fa-solid {
            font-size: 20px !important;
            margin-right: 10px;
        }
    </style>

    <div class="container">


        <div class="main-body">
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb"></ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if user.profile_pic %}
                                    <img src="{{ user.profile_pic.url }}" alt="Admin" class="rounded-circle"
                                         width="150">
                                {% else %}
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                         class="rounded-circle" width="150">
                                {% endif %}
                                <div class="mt-3">
                                    <h1 style="color: #6e543c">{{ user.first_name }} {{ user.last_name }}</h1>
                                    <h4>{{ user.role }}</h4>
                                    <p class="text-muted font-size-sm" style="font-size: 20px">{{ user.address }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.username }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.phone }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.address }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Bio</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ user.bio }}
                                </div>
                            </div>
                            {% if user.is_student %}
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">GPA</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.gpa }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Language Type</h6>
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        {{ user.language_type }}
                                    </div>
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Language Score</h6>
                                    </div>
                                    <div class="col-sm-3 text-secondary">
                                        {{ user.language_score }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Language Certificate</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {% if user.language_certificate %}
                                            <a href="{{ user.language_certificate.url }}">View Your Certificate</a>
                                        {% else %}
                                            No certificate uploaded
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Desired Study Country</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.get_desired_study_country_display }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Degree Interest</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ user.degree_interest }}
                                    </div>
                                </div>
                            {% endif %}
                            <hr>

                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info" target="__blank"
                                       style="color: white;background-color: #d6ba73; border: white"
                                       href=" {% url "update_profile" %} ">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container blog-container">
                        {% if user.is_student %}

                        {% else %}
                            <h3>My Articles</h3>
                        {% endif %}
                        <br>
                        <div class="row">
                            {% for article in articles %}
                                <div class="col-md-6">
                                    <div class="card mb-4">
                                        <a href="{% url 'detail' article.slug %}"><img class="card-img-top"
                                                                                       style="max-height: 230px; width: 100%; object-fit: cover;"
                                                                                       src="{{ article.thumbnail.url }}"
                                                                                       alt="..."/></a>
                                        <div class="card-body">
                                            <div class="small text-muted">{{ article.created }}</div>
                                            <h2 class="card-title h4">{{ article.title }}</h2>
                                            <p class="card-text">{{ article.information | safe | truncatechars:"100" }}</p>
                                            <a class="btn btn-primary" style="background-color: #d6ba73; border: white"
                                               href="{% url 'detail' slug=article.slug %}">Read
                                                more →</a>
                                            <span style="float: right" class="actions">
                                            <a href="{% url 'update-article' article.slug %}"><i
                                                    class="fa-solid fa-pen-to-square"></i></a>
                                            <a href="{% url 'delete-article' article.slug %}"><i
                                                    class="fa-solid fa-trash-can"></i></a>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if del %}
                        <div class="alert alert-danger" role="alert">
                            <p>Do you want to delete the article <strong>{{ article.title }}</strong>?</p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <span>
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                        <button class="btn btn-danger">Delete</button>
                        </span>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
